In [1]:
#imports
import os
import pandas as pd

In [2]:
#get city names
cities_csv_file = os.path.join('historical-hourly-weather-data/city_attributes.csv')

In [3]:
#read file
cities_df = pd.read_csv(cities_csv_file)

In [4]:
#only interested in city and country names
cities_df = cities_df[['City','Country']]

In [5]:
#only need US cities
cities_df = cities_df.loc[cities_df['Country'] == 'United States']

In [6]:
#add states to these cities
cities_df['State'] = ['Oregon', 'California', 'Washington', 'California', 'California', 'Nevada', 'Arizona', 'New Mexico', 'Colorado', 'Texas', 'Texas', 'Texas', 'Missouri', 'Minnesota', 'Missouri', 'Illinois', 'Tennessee', 'Indiana', 'Georgia', 'Michigan', 'Florida', 'North Carolina', 'Florida', 'Pennsylvania', 'Pennsylvania', 'New York', 'Massachusetts']

In [7]:
#get codes
#read file
codes_xl = os.path.join('FRPP GLC United States.xlsx')
codes_df = pd.read_excel(codes_xl, header=1, usecols='B,D,E')

In [8]:
#get ready to merge
cities_df['City'] = cities_df['City'].str.upper()
cities_df['State'] = cities_df['State'].str.upper()
cities_df = cities_df[['City', 'State']]

In [9]:
#merge
merged_cities = pd.merge(codes_df, cities_df, left_on=['City Name', 'State Name'], right_on=['City', 'State'])
merged_cities = merged_cities.drop_duplicates()
merged_cities.reset_index(inplace=True)

#only need these columns
merged_cities = merged_cities[['City Code', 'City', 'State']]

In [10]:
#get the accident data
fatal_2016_csv = os.path.join('fatal_2016.csv')
fatal_2015_csv = os.path.join('fatal_2015.csv')
fatal_2015_df = pd.read_csv(fatal_2015_csv)
fatal_2016_df = pd.read_csv(fatal_2016_csv)

In [11]:
#get a list of the codes where accidents occurred in 2015 and 2016
fatal_2015_codes = [x for x in fatal_2015_df['city']]
fatal_2016_codes = [x for x in fatal_2016_df['city']]

In [12]:
#create one list and then flatten the list of lists
all_codes = []
all_codes.append(fatal_2015_codes)
all_codes.append(fatal_2016_codes)
flat_codes = [y for x in all_codes for y in x]

In [13]:
#remove the duplicates
flat_codes = list(set(flat_codes))

In [14]:
#remove the codes in merged_cities that didn't have a fatal accident occur in them
merged_cities = merged_cities.loc[merged_cities['City Code'].isin(flat_codes)]

In [15]:
#get list of codes
codes_list = list(merged_cities['City Code'])

In [16]:
#select occurrences that occurred in the cities listed above
selected_2015 = fatal_2015_df.loc[fatal_2015_df['city'].isin(codes_list)]
selected_2016 = fatal_2016_df.loc[fatal_2016_df['city'].isin(codes_list)]
selected_fatal = selected_2015.append(selected_2016)

In [17]:
#df with all traffic fatalities that occurred in cities during 2015-2016, for which we have weather data
selected_fatal.reset_index(drop=True, inplace=True)

In [18]:
#row zero above is for North Bend, Oregon. City codes are re-used across states, but we only have the 26 cities of interest.
#we'll have to fix this like so:
merged_cities['State'] = merged_cities['State'].str.title()
trimmed_fatal = pd.merge(selected_fatal, merged_cities, left_on=['city', 'state_name'], right_on=['City Code', 'State'])
trimmed_fatal = trimmed_fatal[['City Code', 'year_of_crash', 'month_of_crash', 'day_of_crash', 'hour_of_crash', 'minute_of_crash', 'atmospheric_conditions_name', 'atmospheric_conditions_1_name', 'atmospheric_conditions_2_name', 'number_of_fatalities']]

In [19]:
#comment to avoid recreation of file
#trimmed_fatal.to_csv(path_or_buf=os.path.join('trimmed_fatal.csv')
trimmed_fatal

,City Code,year_of_crash,month_of_crash,day_of_crash,hour_of_crash,minute_of_crash,atmospheric_conditions_name,atmospheric_conditions_1_name,atmospheric_conditions_2_name,number_of_fatalities
0,1650,2015,8,9,2,41,Not Reported,Not Reported,No Additional Atmospheric Conditions,1
1,1650,2015,5,17,19,53,Clear,Clear,No Additional Atmospheric Conditions,2
2,1650,2015,1,1,18,7,Clear,Clear,No Additional Atmospheric Conditions,1
3,1650,2015,7,4,21,56,Clear,Clear,No Additional Atmospheric Conditions,1
4,1650,2015,8,10,8,57,Clear,Clear,No Additional Atmospheric Conditions,1
...,...,...,...,...,...,...,...,...,...,...
4986,870,2016,11,19,2,18,Clear,Clear,No Additional Atmospheric Conditions,3
4987,870,2016,10,27,20,8,Clear,Clear,No Additional Atmospheric Conditions,1
4988,870,2016,2,29,16,14,Clear,Clear,No Additional Atmospheric Conditions,1
4989,870,2016,4,2,4,5,Cloudy,Cloudy,No Additional Atmospheric Conditions,1
4990,870,2016,5,26,19,14,Clear,Clear,No Additional Atmospheric Conditions,1

In [20]:
#comment to avoid recreation of file
#merged_cities.to_csv(path_or_buf=os.path.join('location.csv'))
merged_cities

    City Code           City           State
0         370        PHOENIX         Arizona
1        1980    LOS ANGELES      California
2        3260      SAN DIEGO      California
3        3290  SAN FRANCISCO      California
4         600         DENVER        Colorado
5        1510   JACKSONVILLE         Florida
6        2010          MIAMI         Florida
7         280        ATLANTA         Georgia
8        1670        CHICAGO        Illinois
9        2210   INDIANAPOLIS         Indiana
10        120         BOSTON   Massachusetts
11       1260        DETROIT        Michigan
12       4760    MINNEAPOLIS       Minnesota
14       7080    SAINT LOUIS        Missouri
15        120      LAS VEGAS          Nevada
16         30    ALBUQUERQUE      New Mexico
17       4170       NEW YORK        New York
18        870      CHARLOTTE  North Carolina
19       1650       PORTLAND          Oregon
20       6540   PHILADELPHIA    Pennsylvania
21       6600     PITTSBURGH    Pennsylvania
22       1760      NASHVILLE       Tennessee
23       1730         DALLAS           Texas
24       3280        HOUSTON           Texas
25       6090    SAN ANTONIO           Texas
26       1960        SEATTLE      Washington